@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.header-nav-container {
  display: flex;
  flex-direction: column-reverse;
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  margin: 2rem;
}

.p-a-container {
  display: flex;
  justify-content: space-between;
}
.p-a-container p {
  font-size: 4rem;
}
.p-a-container a {
  text-decoration: none;
  background-color: #ed6436;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0 1.5rem 1.25rem;
  height: 4rem;
}
.p-a-container a:hover {
  background-color: white;
  color: #ed6436;
  border: 2px solid #ed6436;
}

h1 {
  font-size: 1.3rem;
  color: #ed6436;
}

nav {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 -2px 4px 0 black;
  height: 4rem;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}
nav ul li {
  display: inline-block;
  margin: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li .buy-now {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0 2rem;
  border-radius: 0 1.5rem 1.25rem;
  height: 4rem;
  border: 2px solid #ed6436;
  height: 2rem;
}
nav ul li .buy-now:hover {
  background-color: #ed6436;
  color: white;
}
nav ul li a:hover {
  color: #ed6436;
  border-bottom: 2px solid #ed6436;
}
nav div {
  margin: 2rem;
}
nav div img {
  height: 3rem;
}
nav .menu {
  display: none;
}
nav .menu img {
  height: 1.5rem;
}

section {
  display: flex;
  justify-content: space-evenly;
}
section img {
  width: 90%;
  border-radius: 1.5rem;
}

@media all and (max-width: 480px) {
  nav {
    height: 4rem;
  }
  nav ul {
    display: none;
  }
  nav .menu {
    display: block;
  }
  header {
    padding-top: 0rem;
  }
  h1 {
    display: flex;
    justify-content: center;
  }
  .p-a-container {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .p-a-container p {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }
  .p-a-container a {
    width: 9rem;
  }
  section {
    flex-direction: column;
  }
  .img-container {
    position: relative;
    color: white;
    text-align: center;
  }
  .img-h2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 400;
  }
  .img-p {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
}
